html
{
    scroll-behavior: smooth;
}
body
{
    background-color:darkgrey;
    margin: 0;
    padding: 0;
}
.nav_div
{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    height:190px;
    background-color: black;
    text-align: center;
}

h1{
    color: whitesmoke;
    font-size: 50px;
}
h2{font-size: 50px; color: cadetblue;}   h3{font-size: 30px; color:goldenrod;}  h4{font-size: 28px; color:lawngreen;}

ul 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    text-transform: uppercase;
}

a
{
    color: whitesmoke;
    text-decoration: none;
}

.body1 
{
   margin: 0;
   padding: 30px;
   background-color: rgb(106, 113, 113);
   height: 500px;
}
.img
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}
.img1 img
{
    height: 300px;   
    transition: all 0.7s ease-in-out;
    filter: grayscale(100);
}
.img1 img:hover
{
   filter: none;
   transform: scale(1.1);
}
.img2
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    height: 40px;   
}
.img img
{  
    transition: all 0.7s ease-in-out;
    filter: grayscale(100);
}

.img img:hover
{
   filter: none;
   transform: scale(1.1);
}
.body2
{
    margin: 0;
    padding: 30px;
    background-color: rgb(99, 103, 103);
    height: 650px;
    display: flex;
    flex-direction: column;
}
.body3
{
    margin: 0;
    padding: 30px;
    background-color: rgb(75, 79, 79);
    height: 900px;
    display: flex;
    flex-direction: column;
}
.body4
{
    margin: 0;
    padding: 30px;
    background-color: rgb(62, 65, 65);
    height: 800px;
    display: flex;
    flex-direction: column;
}
.body5
{
    margin: 0;
    padding: 30px;
    background-color: rgb(108, 112, 112);
    height: 1090px;
    display: flex;
    flex-direction: column;
}
.body6
{
    margin: 0;
    padding: 30px;
    background-color: rgb(55, 66, 66);
    height: 830px;
    display: flex;
    flex-direction: column;
}
.split{
   display: flex;
   justify-content: space-around;
}
.split1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center; 
}
.split2
{
    display: flex;
    justify-content: space-evenly;
    
}
.r1
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    background-color: coral;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.r2
{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background-color: coral;
    gap: 20px;
}
.r3
{
    display: flex;
    flex-direction: row-reverse;
    width: 400px;
    height: 100px;
    background-color: coral;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.r4
{
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    height: 200px;
    background-color: coral;
    gap: 20px;
}
.r5
{
    display: flex;
    flex-wrap:wrap;
    width: 350px;
    height: 260px;
    background-color: coral;
    gap: 5px;
    justify-content: space-evenly;
    padding-top: 20px;
}
.r6
{
    display: flex;
    flex-wrap:wrap-reverse;
    width: 350px;
    height: 260px;
    background-color: coral;
    gap: 5px;
    justify-content: space-evenly;  
    padding-bottom: 20px;
}
.r7
{
    display: flex;
    flex-direction:wrap-reverse;
    width: 350px;
    height: 260px;
    background-color: coral;
    gap: 5px;
    justify-content: space-evenly;
    padding-top: 20px;
}
.r8
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 70px;
    background-color: coral;
    gap: 20px;
    justify-content:flex-start;  
    padding-top: 10px;
}
.r9
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 70px;
    background-color: coral;
    gap: 20px;
    justify-content:center;  
    padding-top: 10px;
}
.r10
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 70px;
    background-color: coral;
    gap: 20px;
    justify-content:space-evenly;  
    padding-top: 10px;
}
.r11
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 70px;
    background-color: coral;
    gap: 20px;
    justify-content:flex-end;  
    padding-top: 10px;
}
.r12
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 70px;
    background-color: coral;
    gap: 20px;
    justify-content:space-around;  
    padding-top: 10px;
}
.r13
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 70px;
    background-color: coral;
    justify-content:space-between;  
    padding-top: 10px;
}
.r14
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    background-color: coral;
    align-items: flex-start; 
    gap: 10px;
    padding-top: 10px;
}
.r15
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    background-color: coral;
    align-items: center;
    gap: 10px; 
    padding-top: 10px;
}
.r16
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    background-color: coral;
    align-items: baseline;
    gap: 20px;
    padding-top: 10px;
}
.r17
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    background-color: coral;
    align-items: flex-end;
    gap: 10px;
    padding-top: 10px;
}
.r18
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    background-color: coral;
    align-items: stretch;
    gap: 10px;
    padding-top: 10px;
}
.r19
{
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    height: 130px;
    background-color: coral;
    gap: 10px;
    padding-top: 10px;
}
.r20
{
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    height: 200px;
    background-color: coral;
    gap: 10px;
    padding-top: 10px;
}
.r21
{
    display: flex;
    flex-flow: row-reverse nowrap;
    width: 400px;
    height: 130px;
    background-color: coral;
    gap: 10px;
    padding-top: 10px;
}
.r22
{
    display: flex;
    flex-flow: column wrap-reverse;
    width: 400px;
    height: 200px;
    background-color: coral;
    gap: 10px;
    padding-top: 10px;
}
.items
{
    width: 70px;
    height: 50px;
    background-color: blue;
}
.items p
{
    color: whitesmoke;
    font-size: large;
}
.r5 div
{
    width: 80px;
    height: 100px;
}
.r6 div
{
    width: 80px;
    height: 100px;
}

.r7 div
{
    width: 600px;
    height: 100px;
}
.s
{
    display: flex; 
    justify-items: center;
}
.p
{
    display: flex;
    gap: 30px;
}
.overrow
{
    display: flex;
    flex-direction: column;
}

    .flexflow
    {
        display: flex;
        flex-direction: row;
    }


